@model E_Commerce.Models.Home.HomeIndexViewModel
@*@using PagedList;
    @using PagedList.Mvc;*@

@{
    ViewBag.Title = "TechTraverse";
}

<nav class="navbar bg-light">
    <div class="container-fluid">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Categories
            </button>
            <ul class="dropdown-menu">
                @foreach (var item in Model.ListOfCategories)
                {
                    @*<li>@Html.ActionLink(item.CategoryName, "Category", "Home", new { category = item.CategoryName }, null)</li>*@
                    <li><a class="dropdown-item" href="@Url.Action("Category", "Home", new { category = item.CategoryName }, null)">@item.CategoryName</a></li>
                }
            </ul>
        </div>
        <form method="post" class="d-flex" role="search" style=" margin: 5px 6px 5px 6px;">
            <input class="form-control me-2" type="text" placeholder="Search Product / Category" aria-label="Search" name="search" style="
    width: 220px;">
            <button class="btn btn-outline-dark" type="submit" style="font-weight:200">
                Search
            </button>
        </form>
    </div>
</nav>
@*Carousel*@
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
            <img src="https://images.samsung.com/in/smartphones/galaxy-z-fold4/buy/Fold4_Carousel_GroupKV_PC.jpg" class="d-block w-100" alt="..." style="width:100%; height:400px">
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img src="https://www.dghelp.com/wp-content/uploads/2019/08/Surface_Pro_Banner_DG_Help_2000x600.png" class="d-block w-100" alt="..." style="width:100%; height:400px">
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img src="~/Content/Screenshot 2023-08-07 031339.png" class="d-block w-100" alt="..." style="width:100%; height:400px">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<hr />

<h5 style="margin: -3px 0 -12px 17px; color: rgb(53, 53, 53) ; font-weight: 500">PRODUCTS</h5>
<hr />

<style>
    .row {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: clip;
    }

    .col {
        flex: 0 0 auto;
    }
</style>

<div class="container">
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 ">
        @foreach (var item in Model.ListOfProducts)
        {
            <div class="col mb-4">
                <div class="product-card card h-100 position-relative">
                    <a href="@Url.Action("Product", "Home", new { productId = item.ProductId }, null)">
                        <img src="~/ProductImages/@item.ProductImage" class="card-img-top" style="cursor:pointer; height:160px;">
                    </a>
                    <div class="card-body">
                        <hr />
                        <h5 class="card-text" style=" text-align: center; color:rgb(133, 114, 75)">@item.ProductName</h5>
                        <p class="card-text" style=" text-align: center; font-weight:500;">₹@item.Price</p>
                        @if (item.Quantity > 0)
                        {
                            using (Html.BeginForm("AddToCart", "Home", new { productId = item.ProductId }, FormMethod.Post))
                            {
                                <button type="submit" class="pull-right"><i class="fa fa-shopping-cart"></i></button>
                            }
                            <p class="card-text">Available</p>
                        }
                        else
                        {
                            <p class="card-text">Not Available</p>
                        }

                        @if (item.IsFeatured == true)
                        {
                            <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                                <span class="visually-hidden">New alerts</span>
                            </span>}
                    </div>
                </div>
            </div>
        }
        <br />
        @*@Html.PagedListPager(Model.ListOfProducts, page => Url.Action("Index", new { page, search = Request.QueryString["search"] }))*@
    </div>
</div>