@model E_Commerce.Data.Tbl_Members

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="text-align: -webkit-center; margin: 175px 0 160px 0px;">
    <h2>Registration</h2>

    @using (Html.BeginForm("RegisterUser", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <form>
            <div class="margin-left7">
                <div class="mb-3 row width45">
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.Username, new { type = "text", @class = "form-control", PlaceHolder = "Username" })
                        @Html.ValidationMessageFor(m => m.Username)
                    </div>
                </div>
                <div class="mb-3 row width45">
                    <div class="col-sm-10">
                        @Html.PasswordFor(m => m.Password, new { type = "password", @class = "form-control", PlaceHolder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mb-3">Submit</button>
            <h6>@Html.ActionLink("Login here", "Login")</h6>
        </form>
    }

</div>